* {
  font-family: Arial, Helvetica, sans-serif;
}

/* awal navbar */
body {
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 100px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-link a:hover {
  text-decoration: underline;
}

/* akhir navbar */

/* awal Message*/
.containerMessage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 100px;
  background-image: url(img/saad-chaudhry-cYpqYxGeqts-unsplash.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.message p img {
  height: 15px;
}

.message {
  background: rgba(212, 193, 193, 0.9);
  padding: 20px 20px;
  color: #fff;
  border-radius: 10px;
}

.message p {
  font-size: large;
  font-weight: 100;
  margin-top: 40px;
  color: black;
}

span {
  color: blue;
}

/* akhir Message */

/* awal konten produk 1 */
.containerProduct1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 100px;
  height: 450px;
  margin-top: 130px;
  margin-bottom: 10px;
}

.imgProduct1 img {
  height: 350px;
  position: absolute;
}

button.button1 {
  padding: 20px;
  background-color: transparent;
  border-radius: 4px;
  border-width: 1px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
}

.textProduct1 {
  width: 60%;
  margin-left: 55%;
  margin-top: 8%;
}

.button1:hover {
  background-color: rgb(203, 200, 200);
}

/* akhir content produk 1 */

/* awal konten produk 2 */

.containerProduct2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 100px;
  height: 500px;
  background-color: black;
}

.imgProduct2 img {
  height: 300px;
  /* position: absolute; */
  border-radius: 8px;
  margin-left: 10%;
}

.product2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 50px;
}

.product2 p {
  font-size: 17px;
}
.textProduct2 {
  width: 60%;
  /* margin-right: 40%; */
  margin-top: 8%;
  color: white;
}

button.button2 {
  background-color: transparent;
  border-radius: 10px;
  border-width: 1px;
  font-size: 16px;
  font-weight: normal;
  border-color: white;
  color: white;
  padding: 20px;
}

.button2:hover {
  background-color: rgb(203, 189, 189);
}

/* akhir konten produk 2 */
